/* insert code in style.css (child theme only). Change styling as desired. */
.elavon_payment_section {
	margin: 20px; 
	padding: 40px; 
	background-color: #fcfcfcc9;
	box-shadow: 0 6px 10px 0 #00000033, 0 8px 25px 0 #00000030;
	text-align: center;
